.table {
    margin: 5px;
}

.table-column {
    width: 10em;
    margin: 0 5px;
}

.table-row {
    line-height: 1em;
    display: flex;
    padding: 5px;
    border-bottom: 1px dotted rgb(0,0,0);
}

.table-row:last-child {
    border-bottom: none;
}

.data > .table-row:hover {
    background-color: rgb(0,0,0,0.05);
}

.table-header {
    font-weight: bold;
    border-bottom: 2px solid rgb(0,0,0)
}