.modal {
    width: 100vw;
    height: 100vh;
    background-color: rgb(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.modal-box {
    max-width: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: relative;
    background-color: var(--modal-background-color);
    padding: 20px;
    border-left: 5px solid rgb(4, 119, 59);
}

.error {
    border-left: 5px solid rgb(255, 0, 0);
}

.modal-box > .text {
    margin: 10px 0;
}

.modal-box > .title {
    font-size: 1.5em;
    font-weight: bold;
}

.modal-box > .buttons {
    display: flex;
    justify-content: flex-end;
}

.modal-box > .buttons > button {
    border: none;
    padding: 10px 40px 10px 15px;
    color: white;
    font: inherit;
    margin: 10px;
}

.modal-box > .buttons > button.submit-button {
    background-color: rgb(4, 119, 59);
}

.modal-box > .buttons > button.submit-button:hover {
    background-color: rgb(4, 119, 59, 0.8);
}

.modal-box.error > .buttons > button.submit-button {
    background-color: rgb(255, 0, 0);
}

.modal-box.error > .buttons > button.submit-button:hover {
    background-color: rgb(255, 0, 0, 0.8);
}

.modal-box > .buttons > button.cancel-button {
    background-color: rgb(66, 67, 66);
}

.modal-box > .buttons > button.cancel-button:hover {
    background-color: rgb(66, 67, 66, 0.8);
}