.controls {
    height: 2rem;
    display: flex;
    background-color: var(--menu-color);
    justify-content: flex-end;
    width: 100vw;
    position: fixed;
    left: 0;
    z-index: 1000;
    color: var(--menu-text-color);
}

.toggle {
    margin: auto;
}

.theme {
    display: flex;
    margin-right: 20px;
}

.theme label {
    align-self: center;
}

.controls > .buttons {
    display: flex;
    margin-right: 1em;
}

.controls > .buttons > button {
    border: none;
    background-color: var(--menu-button-color);
    color: white;
    font-weight: bold;
    cursor: pointer;
    height: 1.5em;
    margin: auto 5px;
}

.controls > .buttons > button:hover {
    background-color: var(--menu-button-hover-color);
}