.skeleton {
    width: calc(100% - 10px);
    border-radius: 7px;
    padding: .5em 0;
    animation-duration: 7s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: skeletonShimmer;
    animation-timing-function: linear;
    background: #f6f7f8;
    background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
}

.skeleton-wrapper {
    width: 100%;
}

@keyframes skeletonShimmer{
    0% {
        background-position: -468px 0;
    }
    100% {
        background-position: 468px 0;
    }
}
