.reached {
  fill: yellow;
}

.wrapper {
  width: 100%;
}

.count {
  float: right;
}

.dotted-border-top {
  border-top: 1px dotted;
}

.dotted-border-bottom {
  border-bottom: 1px dotted
}

.dotted-border-left {
  border-left: 1px dotted;
}

.dotted-border-right {
  border-right: 1px dotted;
}

.left-column {
  width: 10em;
  min-width: 10em;
  box-sizing: border-box;
  background-color: #eeeedd
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
