.wrapper {
  width: 100%;
}

.count {
  float: right;
}

.dotted-border-top {
  border-top: 1px dotted;
}

.dotted-border-bottom {
  border-bottom: 1px dotted
}

.dotted-border-left {
  border-left: 1px dotted;
}

.dotted-border-right {
  border-right: 1px dotted;
}

.left-column {
  width: 10em;
  min-width: 10em;
  box-sizing: border-box;
  background-color: var(--primary-scorecard-color);
  position: sticky;
  left: 0;
  z-index: 499;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.light {
  --primary-text-color: #000000;
  --primary-scorecard-color: #dfdfcc;
  --alt-scorecard-color: #fffff7;
  --primary-grid-color: #ffffff;
  --alt-grid-color: #f0f0f0;
  --menu-color: #1b4965;
  --menu-button-color: #5fa8d3;
  --menu-button-hover-color: #79c2ed;
  --menu-text-color: #ffffff;
  color: var(--primary-text-color);
}

.dark {
  --primary-text-color: #949ba0;
  --primary-scorecard-color: #36393b;
  --alt-scorecard-color: #505355;
  --primary-grid-color: #54595c;
  --alt-grid-color: #6d7275;
  --menu-color: #1d2022;
  --menu-button-color: #28536b;
  --menu-button-hover-color: #426d85;
  --menu-text-color: var(--primary-text-color);
  color: var(--primary-text-color);
}
