.grass {
    fill: #138A36;
}

.dirt {
    fill: #CD5C1F;
}

.base-line {
    stroke-width: 4;
}

.base {
    width: 20px;
    height: 20px;
    fill: #ffffff;
}

.reached {
    stroke: #FDE74C;
    fill: #FDE74C;
}