
.field {
    position: relative;
}

.pitchCount {
    position: absolute;
    bottom: 0;
    right: 0;
}

.result {
    text-align: center;
}

.grass {
    fill: #138A36;
}

.dirt {
    fill: #CD5C1F;
}

.base-line {
    stroke-width: 4;
}

.reached {
    stroke: #FDE74C;
    fill: #FDE74C;
}