.grass {
    fill: #138A36;
}

.grass.scored {
    fill: var(--base-reached-color);
}

.dirt {
    fill: #CD5C1F;
}

.base-line {
    stroke-width: 4;
}

.base-line.reached {
    stroke: var(--base-reached-color);
}

.base {
    width: 20px;
    height: 20px;
    fill: #ffffff;
}

.reached {
    fill: var(--base-reached-color);
}