.game-metadata {
    width: 100vw;
    height: 2em;
    background-color: rgb(217, 217, 201);
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 2rem;
    left: 0;
    z-index: 1000;
}

.team-name-wrapper {
    width: 20em;
    font-weight: bold;
    font-size: 1.2em;
    margin: 0 20px;
    text-align: center;
}

.team-name > .editableText > .stretch > input {
    background-color: white;
}

.game-date-wrapper {
    position: relative;
    align-self: flex-end;
}

.metadata-wrapper {
    display: flex;
    align-items: center;
    height: 100%;
}

.team-name {
    width: 100%;
}

.add-inning {
    position: absolute;
    cursor: pointer;
    right: 0;
    margin-right: calc(1em + 4px);
}