.game-selector {
    position: absolute;
    top: 35%;
    left:50%;
    transform: translate(-50%, -50%);
}

.new-game {
    line-height: 2em;
    margin-left: 5px;
}

.new-game > a {
    text-decoration: none;
    color: blue;
}

.new-game > a:visited {
    color: blue;
}