.header {
    display: flex;
    height: 1.5em;
    line-height: 1.5em;
    border-bottom: black solid 1px;
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: rgb(238,238,221,1);
    font-weight: bold;
}

.header .left-column {
    padding-left: 5px;
}

.inning-header {
    padding-left: 5px;
    border-left: black 1px solid;
    border-right: none;
}
