.header {
    display: flex;
    height: 1.5em;
    line-height: 1.5em;
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: rgb(238,238,221,1);
    font-weight: bold;
}

.header .left-column {
    padding-left: 5px;
}

.inning-header {
    padding-left: 5px;
    border-right: none;
}

.header .inning.inning-header:nth-child(even) {
    background-color: rgba(238, 238, 221, 0);
}

.end {
    width: 0px;
    min-width: 0px;
}
