.header {
    display: flex;
    height: 1.5em;
    line-height: 1.5em;
    position: sticky;
    top: 2em;
    z-index: 500;
    background-color: var(--alt-scorecard-color);
    font-weight: bold;
}

.header .left-column {
    padding-left: 5px;
    background-color: var(--primary-scorecard-color);
    position: fixed;
    left: 0;
    top: 2em;
}

.header .innings {
    position: relative;
    left: 10em;
    display: flex;
}

.inning-header {
    padding-left: 5px;
    border-right: none;
}

.header .inning.inning-header:nth-child(even) {
    background-color: var(--primary-scorecard-color);
}

.end {
    width: 0px;
    min-width: 0px;
}
