.inningsGrid {
    display: flex;
    flex-direction: column;
    width: fit-content;
}

.grid {
    
}

.player-list {
    width: 10em;
    height: 1440px;
    align-self: flex-start;
    background-color: white;
    box-shadow: 6px 0px 6px #858585; 
}