.innings-grid {
    display: flex;
    flex-direction: column;
    width: fit-content;
    box-sizing: border-box;
    margin-bottom: 2em;
}

.grid {
    margin-top: 2em;
}

.player-list {
    width: 10em;
    height: 1440px;
    align-self: flex-start;
    background-color: white;
    box-shadow: 6px 0px 6px #858585; 
}