.pitchBox {
    fill: transparent;
    stroke-width: 1;
    stroke: var(--base-reached-color);
}

.flexbox {
    display: flex;
    flex-direction: row;
}

.pitchBox.reached {
    fill: var(--base-reached-color);;
    stroke-width: 1;
    stroke: var(--base-reached-color);;
}