
.field {
    position: relative;
}

.pitchCount {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 30%;
    height: 25%;
}

.result {
    text-align: center;
}

.large {
    background-color: white;
    padding: 5px;
    display: inline-block;
}